@import "nullstyle.scss";
body{
    
}
/* ------------FONTS-------------------------------------------------------------- */
@font-face {
    font-family: 'YatraOne';
    font-weight: 500;
    src: url(../fonts/YatraOne-Regular.ttf);
}
/* ------------------COLORS-------------------------------------------------------- */
$baseColor: #fffb01;
$accentColor: #003459;

$menu-bar-bRadius: 25px;
/* -------------------CONTAINER------------------------------------------------------- */
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}
/* -----------------------HEADER--------------------------------------------------- */
.wrapper{
    display: flex;
    flex-direction: column;
    background: rgb(19,12,135);
    background: linear-gradient(149deg, rgba(19,12,135,1) 0%, rgba(59,9,138,1) 17%, rgba(89,9,107,1) 50%, rgba(122,17,93,1) 75%, rgba(139,12,12,1) 100%);

    .header{
        width: 100%;
        height: 80px;
        border-bottom: 1px solid rgb(255, 255, 255);
        position: fixed;
        z-index: 10;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently
                                        not supported by any browser */

        &__container{
            max-width: 1230px;
            height: 100%;
            padding: 0px 15px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 768px){
                justify-content: space-between;
            }
            
            .header__menu{
                
                &__body__list__logo2{
                    display: none;
                    width: 65px;
                    cursor: pointer;
                    filter: drop-shadow(7px 7px 10px #000000a2);
                    -webkit-filter: drop-shadow(7px 7px 10px #000000a2);   
                    position: relative;
                    z-index: 10;


                    @media(max-width: 768px){
                        display: block;
                    }
                }
                @media(max-width: 768px){
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
                &__body{
                    &__list{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 30px;
                        @media(max-width: 768px){
                            flex-direction: column;
                            gap: clamp(0.625rem, -0.714rem + 6.7vw, 2.5rem);
                            .header__menu__body__list__logo{
                                display: none;
                            }
                        }

                        &__logo{
                            width: 65px;
                            cursor: pointer;
                            filter: drop-shadow(7px 7px 10px #000000a2);
                            -webkit-filter: drop-shadow(7px 7px 10px #000000a2);
                        }
                        
                    }
                    &__link{
                        position: relative;
                        font-size: 16px;
                        font-family: 'YatraOne';

                        font-weight: 700;
                        cursor: pointer;
                        padding: 24px 0px;
                        color: #fff;
                        text-shadow: 7px 5px 7px #000000a2;
                        transition: all .3s ease;
                        
                        @media(max-width:768px){
                            padding: 10px 0px;
                            font-size: 25px;
                        }

                        &:hover{
                            color: rgb(255, 115, 0);
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -4px;
                            left: 50%;
                            width: 0;
                            height: 2px;
                            transition: all 0.3s ease 0s;
                            background-color: $baseColor;
                        }
                        &:hover::after{
                            left: 0;
                            width: 100%;
                            color: $baseColor;
                        }
                        &:hover{
                            color: $baseColor;
                        }  
                    }
                    
                    @media(max-width: 768px){
                        position: fixed;
                        top: 0;
                        left: -100%;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        // background-color: #57525298;
                        backdrop-filter: blur(5px) brightness(80%);
                        padding: 100px 10px 30px 0px;
                        transition: left .3s ease 0s;
                        overflow: auto;
                        
                        &._active{
                            left: 0;
                            
                        }
                        &::before{
                            content:"";
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 80px;
                            backdrop-filter: blur(5px) brightness(80%);
                            z-index: 2;
                        }
                    }
                    
                    
                    
                }
                
                &__icon{
                    display: none;

                    @media(max-width: 768px){
                        z-index: 10;
                        display: block;
                        position: relative;

                        width: 30px;
                        height: 18px;
                        cursor: pointer;

                        & span,
                        &::before,
                        &::after{
                            left: 0;
                            position: absolute;
                            height: 10%;
                            width: 100%;
                            transition: all 0.5s ease;
                            background-color: #fff;
                        }
                        &::before,
                        &::after{
                            content: "";
                        }
                    
                        &::before{
                            top: 0;
                        } 
                        &::after{
                            bottom: 0;
                        }

                        & span{
                            top: 50%;
                            transform: scale(1) translate(0px, -50%);
                        }

                        &._active span{
                            transform: scale(0) translate(0px, -50%);
                        }
                        &._active::before{
                            top: 50%;
                            transform: rotate(-45deg) translate(0px, -50%);
                        }
                        &._active::after{
                            bottom: 50%;
                            transform: rotate(45deg) translate(0px, 50%);   
                        }
                    }
                }
                
    
                
            }
        }
        
        
    }

    .main{
        flex: 1 1 auto;
        min-height: 100vh;

        /* -------------menu choosing------------------------------------------------------------- */
        .menu-choosing{
            padding: 130px 0px 0px 0px;

            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none;   /* Chrome/Safari/Opera */
            -khtml-user-select: none;    /* Konqueror */
            -moz-user-select: none;      /* Firefox */
            -ms-user-select: none;       /* Internet Explorer/Edge */
            user-select: none;           /* Non-prefixed version, currently
                                            not supported by any browser */
            &__menu-bar{
                width: 100%;
                display: flex;
                justify-content: space-between;
                border: 2px solid rgb(49, 13, 114);
                border-radius: $menu-bar-bRadius;
                &__item{
                    &:hover{
                        background-color: #002559;
                    }
                    transition: all 0.2s ease-in;
                    width: 100%;
                    padding: 10px 20px;
                    cursor: pointer;
                    &:first-child{
                        border-top-left-radius: $menu-bar-bRadius;
                        border-bottom-left-radius: $menu-bar-bRadius;
                    }
                    &:last-child{
                        border-top-right-radius: $menu-bar-bRadius;
                        border-bottom-right-radius: $menu-bar-bRadius;
                    }
                    &:not(:last-child){
                        border-right: 2px solid rgb(49, 13, 114);
                    }
                    h2{
                        font-size: 30px;
                        font-weight: 700;
                        color: #fff;
                        text-align: center;
                        font-family: 'YatraOne';
                    }
                }
                
            }
            .image-container {
                display: none;
                position: fixed;
                top: 40%;
                transform: translateY(-50%) translateZ(0);

                img{
                    width: 400px;
                }
            }
            @keyframes slideInRight {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(0);
                }
            }
            @keyframes slideOutRight {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(100%);
                }
            }
            

            @keyframes slideInLeft {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(0);
                }
            }

            @keyframes slideOutLeft {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
            
            #right-image{
                right: 0;
            }
            #left-image{
                left: 0;
            }
        }

    }
    .footer{
        border: 1px solid #fff;
    }
}
