<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/LOGO.ico' ) }}" type="image/x-icon">
    
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__menu">
                    <img src="{{ url_for('static', filename='img/LoGO.png' ) }}" alt="" class="header__menu__body__list__logo2">
                    <div class="header__menu__icon">
                        <span></span>
                    </div>

                    <nav class="header__menu__body">
                        <ul class="header__menu__body__list">
                            <li class="header__menu__body__link">Home</li> 
                            <img src="{{ url_for('static', filename='img/LoGO.png' ) }}" alt="" class="header__menu__body__list__logo">
                            <li class="header__menu__body__link">My Lists</li> 
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main class="main">
            <section class="menu-choosing">
                <div class="container">
                    <div class="menu-choosing__menu-bar">
                        <div class="menu-choosing__menu-bar__item left-button" onmouseover="showImage('left')" onmouseout="hideImage('left')"><h2>To-Do List</h2></div>
                        <div class="menu-choosing__menu-bar__item right-button" onmouseover="showImage('right')" onmouseout="hideImage('right')"><h2>Shopping List</h2></div>

                        
                    </div>
                    <div class="image-container" id="left-image">
                        <img src="{{ url_for('static', filename='img/to-do-list.png' ) }}" alt="Left Image">
                    </div>
                    <div class="image-container" id="right-image">
                        <img src="{{ url_for('static', filename='img/to-do-list.png' ) }}" alt="Right Image">
                    </div>
                </div>
            </section>
            <section>asdfasfas</section>
        </main>

        <!-- <div class="footer">footer</div> -->
    </div>


    <script src="{{ url_for('static', filename='js/main.js' ) }}"></script>
</body>

</html>